@import "style/main";
@import '~vuetify/src/styles/styles.sass';
@import '~vuetify/dist/vuetify.min';

$font-size-root: 20px;

$color--menu--text: #ebcd84;
$color--description: #5a5a5a;

$color--black: #000000;

$color-bg--card-opacity: #42424287;
